.d-auth {
    /* margin: 3rem auto; */
    width: 80%;
    /* align-content: center; */
    border-radius: 6px;
    background-color: #f2dcd8;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    text-align: center;
    color: white;
    /* background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp'); */
}

.d-auth h1 {
    text-align: center;
    color: #d02b11;
    font-weight: bolder;
    text-shadow: #94270c;
}

.d-control {
    margin-bottom: 0.5rem;
}

.d-control label {
    display: block;
    color: #e05c30;
    font-weight: 520;
    margin-bottom: 0.5rem;
    font-size: 14px;
    font-family: sans-serif;
}

.d-control-input {
    font: inherit;
    background-color: #f1e1fc;
    color: #d44f34;
    border-radius: 4px;
    border: 1px solid white;
    width: 100%;
    text-align: left;
    padding: 0.25rem;
}

.d-actions {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.d-actions-button {
    cursor: pointer;
    font: inherit;
    color: white;
    font-weight: bolder;
    background-color: rgb(189, 88, 57);
    border: 1px solid #df4c35;
    border-radius: 4px;
    padding: 0.5rem 2.5rem;
}

.d-actions-button:hover {
    background-color: #da4029;
    border-color: #d14c1c;
}

.d-actions-toggle {
    text-decoration: none;
    margin-top: 1rem;
    background-color: transparent;
    color: #dc5025;
    border: none;
    padding: 0.15rem 1.5rem;
}

.d-actions-toggle:hover {
    background-color: transparent;
    color: #8cebe5;
}

.d-login-footer {
    position: absolute;
    bottom: 0;
    width: 80%;
}

.d-img {
    border-image-width: 90%;
    width: 90%;
    background-color: #bd5643;


}

.d-eye-icon {
    bottom: 5px;
    right: 0px;
    border-radius: 80%;
}

.d-success-img {
    width: 30px;
}